@functions {

	//
	// Page class for Checklists
	//
	public class cChecklists_delete<C, S> : cChecklists_delete_base<C, S>
		where C : cConnection, new()
		where S : cAdvancedSecurity, new()
	{

		// TblAddReturnPage
		public string Get_TblAddReturnPage() {
			return ReturnUrl;		
		}

		// TblEditReturnPage
		public string Get_TblEditReturnPage() {
			return ReturnUrl;		
		}

		// Row Inserted event
		public override void Row_Inserted(OrderedDictionary rsold, OrderedDictionary rsnew) {	

		// Insert record
		// NOTE: Modify your SQL here, replace the table name, field name and field values

		string sInsertSql = "INSERT INTO ChecklistItems "+
					 "(Status, DateOfLastChange,ChangedBy_Id,Checklist_Id,ItemTemplate_Id) "+
					 "SELECT 	0 as Status,"+
					 "CURRENT_TIMESTAMP as DateOfLastChange,"+
					 "'"+Convert.ToString(rsnew["ChangedBy_Id"])+"'" + " as ChangedBy_Id,"+
					 rsnew["Id"] +" as Checklist_Id,"+
					 "chit.Id as ItemTemplate_Id "+
					 "FROM 	ChecklistItemTemplates chit "+
					 "WHERE chit.Checklist_Id="+rsnew["ChecklistTemplate_Id"]
					 ;
		ew_Execute(sInsertSql);
		}
	}

	// Checklists_delete	
	public static cChecklists_delete<cConnection, cAdvancedSecurity> Checklists_delete {
		get { return (cChecklists_delete<cConnection, cAdvancedSecurity>)ew_PageData["Checklists_delete"]; }
		set { ew_PageData["Checklists_delete"] = value; }
	}

	// CurrentPage
	public static cChecklists_delete<cConnection, cAdvancedSecurity> CurrentPage {
		get { return (cChecklists_delete<cConnection, cAdvancedSecurity>)ew_PageData["CurrentPage"]; }
		set { ew_PageData["CurrentPage"] = value; }
	}

	// CurrentTable
	public static cChecklists_delete<cConnection, cAdvancedSecurity> CurrentTable {
		get { return CurrentPage; }
		set { CurrentPage = value; }
	}
}
@{
	EW_ROOT_RELATIVE_PATH = "..";
	EW_RELATIVE_PATH = "";
	Layout = EW_RELATIVE_PATH + "_layout.cshtml";

	// Header
	ew_Header(false);

	// Create master table object (ChecklistTemplates)
	if (ChecklistTemplates == null) {
		ChecklistTemplates = new cChecklistTemplates_master();
	}

	// Create page object
	if (Checklists_delete == null) {
		Checklists_delete = new cChecklists_delete<cConnection, cAdvancedSecurity>();
	}

	// Page init
	Checklists_delete.Page_Init();

	// Page main
	Checklists_delete.Page_Main();

	// Global Page Rendering event
	Page_Rendering();

	// Page Rendering event
	Checklists_delete.Page_Render();
}
<script type="text/javascript">

// Page object
var Checklists_delete = new ew_Page("Checklists_delete");
Checklists_delete.PageID = "delete"; // Page ID
var EW_PAGE_ID = Checklists_delete.PageID; // For backward compatibility

// Form object
var fChecklistsdelete = new ew_Form("fChecklistsdelete");

// Form_CustomValidate event
fChecklistsdelete.Form_CustomValidate = 
 function(fobj) { // DO NOT CHANGE THIS LINE!

 	// Your custom validation code here, return false if invalid. 
 	return true;
 }

// Use JavaScript validation or not
fChecklistsdelete.ValidateRequired = @((EW_CLIENT_VALIDATE) ? "true" : "false");

// Dynamic selection lists
fChecklistsdelete.Lists["x_ChangedBy_Id"] = {"LinkField":"x_Id","Ajax":true,"AutoFill":false,"DisplayFields":["x_FirstName","x_LastName","",""],"ParentFields":[],"FilterFields":[],"Options":[]};
fChecklistsdelete.Lists["x_ChecklistTemplate_Id"] = {"LinkField":"x_Id","Ajax":true,"AutoFill":false,"DisplayFields":["x_zName","","",""],"ParentFields":[],"FilterFields":[],"Options":[]};
fChecklistsdelete.Lists["x_CreatedBy_Id"] = {"LinkField":"x_Id","Ajax":true,"AutoFill":false,"DisplayFields":["x_FirstName","x_LastName","",""],"ParentFields":[],"FilterFields":[],"Options":[]};
fChecklistsdelete.Lists["x_Project_Id"] = {"LinkField":"x_Id","Ajax":true,"AutoFill":false,"DisplayFields":["x_zName","","",""],"ParentFields":[],"FilterFields":[],"Options":[]};

// Form object for search
</script>
<script type="text/javascript">

// Write your client script here, no need to add script tags.
</script>
@{

	// Load records for display
	Checklists_delete.Recordset = Checklists_delete.LoadRecordset();
	if (Checklists_delete.TotalRecs <= 0) { // No record found, exit
		if (Checklists_delete.Recordset != null) {
			Checklists_delete.Recordset.Close();
			Checklists_delete.Recordset.Dispose();
		}
		Checklists_delete.Page_Terminate("Checklistslist.cshtml"); // Return to list
	}
}
<div class="ewToolbar">
@if (ew_Empty(Checklists.Export)) {<div style="display: inline-block">
@{
	if (Breadcrumb != null) {
		Breadcrumb.Render();
	}
}
</div>}
@if (ew_Empty(Checklists.Export)) {
@Html.Raw(Language.SelectionForm())
}
	<div class="clearfix"></div>
</div>
@{
	Checklists_delete.ShowPageHeader();
}
@{
	Checklists_delete.ShowMessage();
}
<form name="fChecklistsdelete" id="fChecklistsdelete" class="form-inline ewForm ewDeleteForm" action="@ew_CurrentPage()" method="post">
<br>
@if (Checklists_delete.CheckToken) { 
<input type="hidden" name="@EW_TOKEN_NAME" value="@Checklists_delete.Token">
}
<input type="hidden" name="t" value="Checklists">
<input type="hidden" name="a_delete" id="a_delete" value="D">
@foreach (object key in Checklists_delete.RecKeys) {
	var keyvalue = Information.IsArray(key) ? String.Join(EW_COMPOSITE_KEY_SEPARATOR, (string[])key) : Convert.ToString(key);
<input type="hidden" name="key_m" value="@keyvalue">
}
<div class="ewGrid">
<div class="@((ew_IsResponsiveLayout()) ? "table-responsive" : "ewGridMiddlePanel")">
<table class="table ewTable">
@Checklists.TableCustomInnerHtml
	<thead>
	<tr class="ewTableHeader">
@if (Checklists.Id.Visible) { // Id (begin)
		<th><span id="elh_Checklists_Id" class="Checklists_Id">@Html.Raw(Checklists.Id.FldCaption)</span></th>
} @* Id.Visible (end) *@
@if (Checklists.DateCreated.Visible) { // DateCreated (begin)
		<th><span id="elh_Checklists_DateCreated" class="Checklists_DateCreated">@Html.Raw(Checklists.DateCreated.FldCaption)</span></th>
} @* DateCreated.Visible (end) *@
@if (Checklists.DateOfLastChange.Visible) { // DateOfLastChange (begin)
		<th><span id="elh_Checklists_DateOfLastChange" class="Checklists_DateOfLastChange">@Html.Raw(Checklists.DateOfLastChange.FldCaption)</span></th>
} @* DateOfLastChange.Visible (end) *@
@if (Checklists.ChangedBy_Id.Visible) { // ChangedBy_Id (begin)
		<th><span id="elh_Checklists_ChangedBy_Id" class="Checklists_ChangedBy_Id">@Html.Raw(Checklists.ChangedBy_Id.FldCaption)</span></th>
} @* ChangedBy_Id.Visible (end) *@
@if (Checklists.ChecklistTemplate_Id.Visible) { // ChecklistTemplate_Id (begin)
		<th><span id="elh_Checklists_ChecklistTemplate_Id" class="Checklists_ChecklistTemplate_Id">@Html.Raw(Checklists.ChecklistTemplate_Id.FldCaption)</span></th>
} @* ChecklistTemplate_Id.Visible (end) *@
@if (Checklists.CreatedBy_Id.Visible) { // CreatedBy_Id (begin)
		<th><span id="elh_Checklists_CreatedBy_Id" class="Checklists_CreatedBy_Id">@Html.Raw(Checklists.CreatedBy_Id.FldCaption)</span></th>
} @* CreatedBy_Id.Visible (end) *@
@if (Checklists.Project_Id.Visible) { // Project_Id (begin)
		<th><span id="elh_Checklists_Project_Id" class="Checklists_Project_Id">@Html.Raw(Checklists.Project_Id.FldCaption)</span></th>
} @* Project_Id.Visible (end) *@
	</tr>
	</thead>
	<tbody>
@{
Checklists_delete.RecCnt = 0;
}
@while (Checklists_delete.Recordset.Read()) {
	Checklists_delete.RecCnt++;
	Checklists_delete.RowCnt++;

	// Set row properties
	Checklists.ResetAttrs();
	Checklists.RowType = EW_ROWTYPE_VIEW; // View

	// Get the field contents
	Checklists_delete.LoadRowValues(Checklists_delete.Recordset);

	// Render row
	Checklists_delete.RenderRow();
	<tr @(Html.Raw(Checklists.RowAttributes))>
@if (Checklists.Id.Visible) { // Id (begin)
		<td @(Html.Raw(Checklists.Id.CellAttributes))>
<span id="el@(Checklists_delete.RowCnt)_Checklists_Id" class="form-group Checklists_Id">
<span @(Html.Raw(Checklists.Id.ViewAttributes))>
@Html.Raw(Checklists.Id.ListViewValue)</span>
</span>
</td>
} @* Id.Visible (end) *@
@if (Checklists.DateCreated.Visible) { // DateCreated (begin)
		<td @(Html.Raw(Checklists.DateCreated.CellAttributes))>
<span id="el@(Checklists_delete.RowCnt)_Checklists_DateCreated" class="form-group Checklists_DateCreated">
<span @(Html.Raw(Checklists.DateCreated.ViewAttributes))>
@Html.Raw(Checklists.DateCreated.ListViewValue)</span>
</span>
</td>
} @* DateCreated.Visible (end) *@
@if (Checklists.DateOfLastChange.Visible) { // DateOfLastChange (begin)
		<td @(Html.Raw(Checklists.DateOfLastChange.CellAttributes))>
<span id="el@(Checklists_delete.RowCnt)_Checklists_DateOfLastChange" class="form-group Checklists_DateOfLastChange">
<span @(Html.Raw(Checklists.DateOfLastChange.ViewAttributes))>
@Html.Raw(Checklists.DateOfLastChange.ListViewValue)</span>
</span>
</td>
} @* DateOfLastChange.Visible (end) *@
@if (Checklists.ChangedBy_Id.Visible) { // ChangedBy_Id (begin)
		<td @(Html.Raw(Checklists.ChangedBy_Id.CellAttributes))>
<span id="el@(Checklists_delete.RowCnt)_Checklists_ChangedBy_Id" class="form-group Checklists_ChangedBy_Id">
<span @(Html.Raw(Checklists.ChangedBy_Id.ViewAttributes))>
@Html.Raw(Checklists.ChangedBy_Id.ListViewValue)</span>
</span>
</td>
} @* ChangedBy_Id.Visible (end) *@
@if (Checklists.ChecklistTemplate_Id.Visible) { // ChecklistTemplate_Id (begin)
		<td @(Html.Raw(Checklists.ChecklistTemplate_Id.CellAttributes))>
<span id="el@(Checklists_delete.RowCnt)_Checklists_ChecklistTemplate_Id" class="form-group Checklists_ChecklistTemplate_Id">
<span @(Html.Raw(Checklists.ChecklistTemplate_Id.ViewAttributes))>
@Html.Raw(Checklists.ChecklistTemplate_Id.ListViewValue)</span>
</span>
</td>
} @* ChecklistTemplate_Id.Visible (end) *@
@if (Checklists.CreatedBy_Id.Visible) { // CreatedBy_Id (begin)
		<td @(Html.Raw(Checklists.CreatedBy_Id.CellAttributes))>
<span id="el@(Checklists_delete.RowCnt)_Checklists_CreatedBy_Id" class="form-group Checklists_CreatedBy_Id">
<span @(Html.Raw(Checklists.CreatedBy_Id.ViewAttributes))>
@Html.Raw(Checklists.CreatedBy_Id.ListViewValue)</span>
</span>
</td>
} @* CreatedBy_Id.Visible (end) *@
@if (Checklists.Project_Id.Visible) { // Project_Id (begin)
		<td @(Html.Raw(Checklists.Project_Id.CellAttributes))>
<span id="el@(Checklists_delete.RowCnt)_Checklists_Project_Id" class="form-group Checklists_Project_Id">
<span @(Html.Raw(Checklists.Project_Id.ViewAttributes))>
@Html.Raw(Checklists.Project_Id.ListViewValue)</span>
</span>
</td>
} @* Project_Id.Visible (end) *@
	</tr>
}
@{
	Checklists_delete.Recordset.Close();
	Checklists_delete.Recordset.Dispose();
}
</tbody>
</table>
</div>
</div>
<div class="btn-group ewButtonGroup">
<button class="btn btn-primary ewButton" name="btnAction" id="btnAction" type="submit">@Html.Raw(Language.Phrase("DeleteBtn"))</button>
</div>
</form>
<script type="text/javascript">
fChecklistsdelete.Init();
</script>
@{
	Checklists_delete.ShowPageFooter();
	if (EW_DEBUG_ENABLED) {
		ew_Write(ew_DebugMsg());		
		ew_Write(ew_ElapsedTime(StartTime));		
	}
}
<script type="text/javascript">

// Write your table-specific startup script here
// document.write("page loaded");

</script>
@{
	Checklists_delete.Page_Terminate();
}
