@functions {

	//
	// Page class for ChecklistTemplates
	//
	public class cChecklistTemplates_list<C, S> : cChecklistTemplates_list_base<C, S>
		where C : cConnection, new()
		where S : cAdvancedSecurity, new()
	{

		// TblAddReturnPage
		public string Get_TblAddReturnPage() {
			return ReturnUrl;		
		}

		// TblEditReturnPage
		public string Get_TblEditReturnPage() {
			return ReturnUrl;		
		}
	}

	// ChecklistTemplates_list	
	public static cChecklistTemplates_list<cConnection, cAdvancedSecurity> ChecklistTemplates_list {
		get { return (cChecklistTemplates_list<cConnection, cAdvancedSecurity>)ew_PageData["ChecklistTemplates_list"]; }
		set { ew_PageData["ChecklistTemplates_list"] = value; }
	}

	// CurrentPage
	public static cChecklistTemplates_list<cConnection, cAdvancedSecurity> CurrentPage {
		get { return (cChecklistTemplates_list<cConnection, cAdvancedSecurity>)ew_PageData["CurrentPage"]; }
		set { ew_PageData["CurrentPage"] = value; }
	}

	// CurrentTable
	public static cChecklistTemplates_list<cConnection, cAdvancedSecurity> CurrentTable {
		get { return CurrentPage; }
		set { CurrentPage = value; }
	}
}
@{
	EW_ROOT_RELATIVE_PATH = "..";
	EW_RELATIVE_PATH = "";
	Layout = EW_RELATIVE_PATH + "_layout.cshtml";

	// Header
	ew_Header(false);

	// Create detail grid object (Checklists_grid)
	if (Checklists_grid == null) {
		Checklists_grid = new cChecklists_grid<cConnection, cAdvancedSecurity>();
	}

	// Create detail grid object (ChecklistItemTemplates_grid)
	if (ChecklistItemTemplates_grid == null) {
		ChecklistItemTemplates_grid = new cChecklistItemTemplates_grid<cConnection, cAdvancedSecurity>();
	}

	// Create page object
	if (ChecklistTemplates_list == null) {
		ChecklistTemplates_list = new cChecklistTemplates_list<cConnection, cAdvancedSecurity>();
	}

	// Page init
	ChecklistTemplates_list.Page_Init();

	// Page main
	ChecklistTemplates_list.Page_Main();

	// Global Page Rendering event
	Page_Rendering();

	// Page Rendering event
	ChecklistTemplates_list.Page_Render();
}
@if (ew_Empty(ChecklistTemplates.Export)) {
<script type="text/javascript">

// Page object
var ChecklistTemplates_list = new ew_Page("ChecklistTemplates_list");
ChecklistTemplates_list.PageID = "list"; // Page ID
var EW_PAGE_ID = ChecklistTemplates_list.PageID; // For backward compatibility

// Form object
var fChecklistTemplateslist = new ew_Form("fChecklistTemplateslist");
fChecklistTemplateslist.FormKeyCountName = '@ChecklistTemplates_list.FormKeyCountName';

// Form_CustomValidate event
fChecklistTemplateslist.Form_CustomValidate = 
 function(fobj) { // DO NOT CHANGE THIS LINE!

 	// Your custom validation code here, return false if invalid. 
 	return true;
 }

// Use JavaScript validation or not
fChecklistTemplateslist.ValidateRequired = @((EW_CLIENT_VALIDATE) ? "true" : "false");

// Dynamic selection lists
// Form object for search

var fChecklistTemplateslistsrch = new ew_Form("fChecklistTemplateslistsrch");
</script>
<script type="text/javascript">

// Write your client script here, no need to add script tags.
</script>
}
@if (ew_Empty(ChecklistTemplates.Export)) {
<div class="ewToolbar">
@if (ew_Empty(ChecklistTemplates.Export)) {<div style="display: inline-block">
@{
	if (Breadcrumb != null) {
		Breadcrumb.Render();
	}
}
</div>}
@if (ChecklistTemplates_list.TotalRecs > 0 && ChecklistTemplates_list.ExportOptions.Visible) { 
	ChecklistTemplates_list.ExportOptions.Render("body");
}
@if (ChecklistTemplates_list.SearchOptions.Visible) { 
	ChecklistTemplates_list.SearchOptions.Render("body");
}
@if (ew_Empty(ChecklistTemplates.Export)) {
@Html.Raw(Language.SelectionForm())
}
<div class="clearfix"></div>
</div>
}
@{
		if (ChecklistTemplates_list.Recordset == null) { // ASPX
			ChecklistTemplates_list.Recordset = ChecklistTemplates_list.LoadRecordset();
		}
		ChecklistTemplates_list.StartRec = 1;
		if (ChecklistTemplates_list.DisplayRecs <= 0 || (ew_NotEmpty(ChecklistTemplates.Export) && ChecklistTemplates.ExportAll)) { // Display all records
			ChecklistTemplates_list.DisplayRecs = ChecklistTemplates_list.TotalRecs;
		}
		if (!(ew_NotEmpty(ChecklistTemplates.Export) && ChecklistTemplates.ExportAll)) {
			ChecklistTemplates_list.SetUpStartRec(); // Set up start record position
		}

		// Set no record found message
		if (ChecklistTemplates.CurrentAction == "" && ChecklistTemplates_list.TotalRecs == 0) {
			if (ChecklistTemplates_list.SearchWhere == "0=101") {
				ChecklistTemplates_list.WarningMessage = Language.Phrase("EnterSearchCriteria");
			} else {
				ChecklistTemplates_list.WarningMessage = Language.Phrase("NoRecord");
			}
		}
	ChecklistTemplates_list.RenderOtherOptions();
}
@{
if (ew_Empty(ChecklistTemplates.Export) && ew_Empty(ChecklistTemplates.CurrentAction)) { // Begin search form
<form name="fChecklistTemplateslistsrch" id="fChecklistTemplateslistsrch" class="form-inline ewForm" action="@ew_CurrentPage()">
@{
	var SearchPanelClass = (ew_NotEmpty(ChecklistTemplates_list.SearchWhere)) ? " in" : " in";
}
<div id="fChecklistTemplateslistsrch_SearchPanel" class="ewSearchPanel collapse @SearchPanelClass">
<input type="hidden" name="cmd" value="search">
<input type="hidden" name="t" value="ChecklistTemplates">
<div class="ewBasicSearch">
<div id="xsr_1" class="ewRow">
	<div class="ewQuickSearch input-group">
	<input type="text" name="@EW_TABLE_BASIC_SEARCH" id="@EW_TABLE_BASIC_SEARCH" class="form-control" value="@ChecklistTemplates_list.BasicSearch.Keyword" placeholder="@Language.Phrase("Search")">
	<input type="hidden" name="@EW_TABLE_BASIC_SEARCH_TYPE" id="@EW_TABLE_BASIC_SEARCH_TYPE" value="@ChecklistTemplates_list.BasicSearch.Type">
	<div class="input-group-btn">
		<button type="button" data-toggle="dropdown" class="btn btn-default"><span id="searchtype">@Html.Raw(ChecklistTemplates_list.BasicSearch.TypeNameShort())</span><span class="caret"></span></button>
		<ul class="dropdown-menu pull-right" role="menu">
			<li @((ChecklistTemplates_list.BasicSearch.Type == "") ? " class=\"active\"" : "")><a href="javascript:void(0);" onclick="ew_SetSearchType(this)">@Html.Raw(Language.Phrase("QuickSearchAuto"))</a></li>
			<li @((ChecklistTemplates_list.BasicSearch.Type == "=") ? " class=\"active\"" : "")><a href="javascript:void(0);" onclick="ew_SetSearchType(this,'=')">@Html.Raw(Language.Phrase("QuickSearchExact"))</a></li>
			<li @((ChecklistTemplates_list.BasicSearch.Type == "AND") ? " class=\"active\"" : "")><a href="javascript:void(0);" onclick="ew_SetSearchType(this,'AND')">@Html.Raw(Language.Phrase("QuickSearchAll"))</a></li>
			<li @((ChecklistTemplates_list.BasicSearch.Type == "OR") ? " class=\"active\"" : "")><a href="javascript:void(0);" onclick="ew_SetSearchType(this,'OR')">@Html.Raw(Language.Phrase("QuickSearchAny"))</a></li>
		</ul>
	<button class="btn btn-primary ewButton" name="btnsubmit" id="btnsubmit" type="submit">@Html.Raw(Language.Phrase("QuickSearchBtn"))</button>
	</div>
	</div>
</div>
</div>
</div>
</form>
} @* End search form *@
}
@{
	ChecklistTemplates_list.ShowPageHeader();
}
@{
	ChecklistTemplates_list.ShowMessage();
}
@if (ChecklistTemplates_list.TotalRecs > 0 || ChecklistTemplates.CurrentAction != "") { 
<div class="ewGrid">
<form name="fChecklistTemplateslist" id="fChecklistTemplateslist" class="form-inline ewForm ewListForm" action="@ew_CurrentPage()" method="post">
@if (ChecklistTemplates_list.CheckToken) { 
<input type="hidden" name="@EW_TOKEN_NAME" value="@ChecklistTemplates_list.Token">
}
<input type="hidden" name="t" value="ChecklistTemplates">
<div id="gmp_ChecklistTemplates" class="@((ew_IsResponsiveLayout()) ? "table-responsive ewGridMiddlePanel" : "ewGridMiddlePanel")">
@if (ChecklistTemplates_list.TotalRecs > 0) { // Begin If TotalRecs > 0
<table id="tbl_ChecklistTemplateslist" class="table ewTable">
@ChecklistTemplates.TableCustomInnerHtml
<thead><!-- Table header -->
	<tr class="ewTableHeader">
@{

	// Render list options
	ChecklistTemplates_list.RenderListOptions();

	// Render list options (header, left)
	ChecklistTemplates_list.ListOptions.Render("header", "left");
}
@if (ChecklistTemplates.Id.Visible) { // Id.Visible (begin)
	if (ChecklistTemplates.SortUrl(ChecklistTemplates.Id) == "") {
		<th data-name="Id"><div id="elh_ChecklistTemplates_Id" class="ChecklistTemplates_Id"><div class="ewTableHeaderCaption">@Html.Raw(ChecklistTemplates.Id.FldCaption)</div></div></th>
	} else {
		<th data-name="Id"><div class="ewPointer" onclick="ew_Sort(event,'@ChecklistTemplates.SortUrl(ChecklistTemplates.Id)',1);"><div id="elh_ChecklistTemplates_Id" class="ChecklistTemplates_Id">
			<div class="ewTableHeaderBtn"><span class="ewTableHeaderCaption">@Html.Raw(ChecklistTemplates.Id.FldCaption)</span><span class="ewTableHeaderSort">@if (ChecklistTemplates.Id.Sort == "ASC") {<span class="caret ewSortUp"></span>} else if (ChecklistTemplates.Id.Sort == "DESC") {<span class="caret"></span>}</span></div>
        </div></div></th>	
	}
} @* Id.Visible (end) *@		
@if (ChecklistTemplates.zName.Visible) { // zName.Visible (begin)
	if (ChecklistTemplates.SortUrl(ChecklistTemplates.zName) == "") {
		<th data-name="zName"><div id="elh_ChecklistTemplates_zName" class="ChecklistTemplates_zName"><div class="ewTableHeaderCaption">@Html.Raw(ChecklistTemplates.zName.FldCaption)</div></div></th>
	} else {
		<th data-name="zName"><div class="ewPointer" onclick="ew_Sort(event,'@ChecklistTemplates.SortUrl(ChecklistTemplates.zName)',1);"><div id="elh_ChecklistTemplates_zName" class="ChecklistTemplates_zName">
			<div class="ewTableHeaderBtn"><span class="ewTableHeaderCaption">@Html.Raw(ChecklistTemplates.zName.FldCaption)@Html.Raw(Language.Phrase("SrchLegend"))</span><span class="ewTableHeaderSort">@if (ChecklistTemplates.zName.Sort == "ASC") {<span class="caret ewSortUp"></span>} else if (ChecklistTemplates.zName.Sort == "DESC") {<span class="caret"></span>}</span></div>
        </div></div></th>	
	}
} @* zName.Visible (end) *@		
@{

	// Render list options (header, right)
	ChecklistTemplates_list.ListOptions.Render("header", "right");
}
	</tr>
</thead>
<tbody>
@{ // Begin Code
if (ChecklistTemplates.ExportAll && ew_NotEmpty(ChecklistTemplates.Export)) {
	ChecklistTemplates_list.StopRec = ChecklistTemplates_list.TotalRecs;
} else {

	// Set the last record to display
	if (ChecklistTemplates_list.TotalRecs > ChecklistTemplates_list.StartRec + ChecklistTemplates_list.DisplayRecs - 1) {
		ChecklistTemplates_list.StopRec = ChecklistTemplates_list.StartRec + ChecklistTemplates_list.DisplayRecs - 1;
	} else {
		ChecklistTemplates_list.StopRec = ChecklistTemplates_list.TotalRecs;
	}
}
if (ChecklistTemplates_list.Recordset != null && ChecklistTemplates_list.Recordset.HasRows) {

	// Move to first record
	for (var i = 1; i <= ChecklistTemplates_list.StartRec - 1; i++) {
		if (ChecklistTemplates_list.Recordset.Read()) {
			ChecklistTemplates_list.RecCnt++;
		}
	}		
} else if (!ChecklistTemplates.AllowAddDeleteRow && ChecklistTemplates_list.StopRec == 0) {
	ChecklistTemplates_list.StopRec = ChecklistTemplates.GridAddRowCount;
}

// Initialize aggregate
ChecklistTemplates.RowType = EW_ROWTYPE_AGGREGATEINIT;
ChecklistTemplates.ResetAttrs();
ChecklistTemplates_list.RenderRow();

// Output data rows
bool Eof = false; // ASPX
while (ChecklistTemplates_list.RecCnt < ChecklistTemplates_list.StopRec) { // Begin While
	if (ChecklistTemplates.CurrentAction != "gridadd" && !Eof) { // ASPX
		Eof = !ChecklistTemplates_list.Recordset.Read();
	}
	ChecklistTemplates_list.RecCnt++;
	if (ChecklistTemplates_list.RecCnt >= ChecklistTemplates_list.StartRec) {
		ChecklistTemplates_list.RowCnt++;

		// Set up key count
		ChecklistTemplates_list.KeyCount = ew_ConvertToInt(ChecklistTemplates_list.RowIndex);

		// Init row class and style
		ChecklistTemplates.ResetAttrs();
		ChecklistTemplates.CssClass = "";
		if (ChecklistTemplates.CurrentAction == "gridadd") {
		} else {
			ChecklistTemplates_list.LoadRowValues(ChecklistTemplates_list.Recordset); // Load row values
		}
		ChecklistTemplates.RowType = EW_ROWTYPE_VIEW; // Render view

		// Set up row id / data-rowindex
		ChecklistTemplates.RowAttrs.Add("data-rowindex", ChecklistTemplates_list.RowCnt);
		ChecklistTemplates.RowAttrs.Add("id", "r" + Convert.ToString(ChecklistTemplates_list.RowCnt) + "_ChecklistTemplates");
		ChecklistTemplates.RowAttrs.Add("data-rowtype", ChecklistTemplates.RowType);

		// Render row
		ChecklistTemplates_list.RenderRow();

		// Render list options
		ChecklistTemplates_list.RenderListOptions();
	<tr @(Html.Raw(ChecklistTemplates.RowAttributes))>
	@{

		// Render list options (body, left)
		ChecklistTemplates_list.ListOptions.Render("body", "left", ChecklistTemplates_list.RowCnt);
	}
	@if (ChecklistTemplates.Id.Visible) { // Id.Visible (begin)
		<td data-name="Id"@(Html.Raw(ChecklistTemplates.Id.CellAttributes))>
<span @(Html.Raw(ChecklistTemplates.Id.ViewAttributes))>
@Html.Raw(ChecklistTemplates.Id.ListViewValue)</span>
<a id="@(ChecklistTemplates_list.PageObjName + "_row_" + Convert.ToString(ChecklistTemplates_list.RowCnt))"></a></td>
	} @* Id.Visible (end) *@
	@if (ChecklistTemplates.zName.Visible) { // zName.Visible (begin)
		<td data-name="zName"@(Html.Raw(ChecklistTemplates.zName.CellAttributes))>
<span @(Html.Raw(ChecklistTemplates.zName.ViewAttributes))>
@Html.Raw(ChecklistTemplates.zName.ListViewValue)</span>
</td>
	} @* zName.Visible (end) *@
	@{

		// Render list options (body, right)
		ChecklistTemplates_list.ListOptions.Render("body", "right", ChecklistTemplates_list.RowCnt);
	}
	</tr>
	} @* End if *@
} @* End While *@
} @* End Code *@
</tbody>
</table>
} @* End If TotalRecs > 0 *@
@if (ew_Empty(ChecklistTemplates.CurrentAction)) {
<input type="hidden" name="a_list" id="a_list" value="">
}
</div>
</form>
@if (ChecklistTemplates_list.Recordset != null) { // Close recordset
	ChecklistTemplates_list.Recordset.Close();
	ChecklistTemplates_list.Recordset.Dispose();
}
		@if (ew_Empty(ChecklistTemplates.Export)) {
		<div class="ewGridLowerPanel">
		@if (ChecklistTemplates.CurrentAction != "gridadd" && ChecklistTemplates.CurrentAction != "gridedit") {
			<form name="ewPagerForm" class="ewForm form-horizontal ewPagerForm" action="@ew_CurrentPage()">
@if (ChecklistTemplates_list.Pager == null) {
	ChecklistTemplates_list.Pager = new cPrevNextPager(ChecklistTemplates_list.StartRec, ChecklistTemplates_list.DisplayRecs, ChecklistTemplates_list.TotalRecs); 
}
@if (ChecklistTemplates_list.Pager.RecordCount > 0) {
<div class="ewPager">
<span>@Html.Raw(Language.Phrase("Page"))&nbsp;</span>
<div class="ewPrevNext"><div class="input-group">
<div class="input-group-btn">
<!--first page button-->
	@if (ChecklistTemplates_list.Pager.FirstButton.Enabled) {
	<a class="btn btn-default btn-sm" title="@(Html.Raw(Language.Phrase("PagerFirst")))" href="@(ChecklistTemplates_list.PageUrl)start=@ChecklistTemplates_list.Pager.FirstButton.Start"><span class="icon-first ewIcon"></span></a>
	} else {
	<a class="btn btn-default btn-sm disabled" title="@(Html.Raw(Language.Phrase("PagerFirst")))"><span class="icon-first ewIcon"></span></a>
	}
<!--previous page button-->
	@if (ChecklistTemplates_list.Pager.PrevButton.Enabled) {
	<a class="btn btn-default btn-sm" title="@(Html.Raw(Language.Phrase("PagerPrevious")))" href="@(ChecklistTemplates_list.PageUrl)start=@ChecklistTemplates_list.Pager.PrevButton.Start"><span class="icon-prev ewIcon"></span></a>
	} else {
	<a class="btn btn-default btn-sm disabled" title="@(Html.Raw(Language.Phrase("PagerPrevious")))"><span class="icon-prev ewIcon"></span></a>
	}
</div>
<!--current page number-->
	<input class="form-control input-sm" type="text" name="@EW_TABLE_PAGE_NO" value="@ChecklistTemplates_list.Pager.CurrentPage">
<div class="input-group-btn">		
<!--next page button-->
	@if (ChecklistTemplates_list.Pager.NextButton.Enabled) {
	<a class="btn btn-default btn-sm" title="@(Html.Raw(Language.Phrase("PagerNext")))" href="@(ChecklistTemplates_list.PageUrl)start=@ChecklistTemplates_list.Pager.NextButton.Start"><span class="icon-next ewIcon"></span></a>
	} else {
	<a class="btn btn-default btn-sm disabled" title="@(Html.Raw(Language.Phrase("PagerNext")))"><span class="icon-next ewIcon"></span></a>
	}
<!--last page button-->
	@if (ChecklistTemplates_list.Pager.LastButton.Enabled) {
	<a class="btn btn-default btn-sm" title="@(Html.Raw(Language.Phrase("PagerLast")))" href="@(ChecklistTemplates_list.PageUrl)start=@ChecklistTemplates_list.Pager.LastButton.Start"><span class="icon-last ewIcon"></span></a>
	} else {
	<a class="btn btn-default btn-sm disabled" title="@(Html.Raw(Language.Phrase("PagerLast")))"><span class="icon-last ewIcon"></span></a>
	}
</div>
</div>
</div>
<span>&nbsp;@Html.Raw(Language.Phrase("Of"))&nbsp;@ChecklistTemplates_list.Pager.PageCount</span>
</div>
	<div class="ewPager ewRec">
		<span>@Html.Raw(Language.Phrase("Record"))&nbsp;@(ChecklistTemplates_list.Pager.FromIndex)&nbsp;@Html.Raw(Language.Phrase("To"))&nbsp;@(ChecklistTemplates_list.Pager.ToIndex)&nbsp;@Html.Raw(Language.Phrase("Of"))&nbsp;@(ChecklistTemplates_list.Pager.RecordCount)</span>
	</div>
}
			</form>
		}
		<div class="ewListOtherOptions">
		@foreach (var kvp in ChecklistTemplates_list.OtherOptions) {
			kvp.Value.Render("body", "bottom");
		}
		</div>
		<div class="clearfix"></div>
		</div>
		}
</div>
}
@if (ChecklistTemplates_list.TotalRecs <= 0 && ChecklistTemplates.CurrentAction == "") { // Show other options
<div class="ewListOtherOptions">
	@foreach (var kvp in ChecklistTemplates_list.OtherOptions) {
		kvp.Value.ButtonClass = "";
		kvp.Value.Render("body", "");
	}
</div>
<div class="clearfix"></div>
} 
@if (ew_Empty(ChecklistTemplates.Export)) {
<script type="text/javascript">
fChecklistTemplateslistsrch.Init();
fChecklistTemplateslist.Init();
</script>
}
@{
	ChecklistTemplates_list.ShowPageFooter();
	if (EW_DEBUG_ENABLED) {
		ew_Write(ew_DebugMsg());		
		ew_Write(ew_ElapsedTime(StartTime));		
	}
}
@if (ew_Empty(ChecklistTemplates.Export)) {
<script type="text/javascript">

// Write your table-specific startup script here
// document.write("page loaded");

</script>
}
@{
	ChecklistTemplates_list.Page_Terminate();
}
